<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
    @{ 
        var page = ViewData["PageName"];
    }
    <div class="center">
        <p><strong><font face="arial" color="black" size="5">Access Denied!</font></strong></p>
        <p>
            <font face="arial" color="black">
                You do not have permissions to view the page you are trying to access. 
                Please log a 
                <a href="mailto:ITServiceDesk@gatesfoundation.org?subject=Request for access in LEAD application&body=Service Desk,%0D%0A%0D%0AI need access to the @page page of the Leadership Engagement Activity Dashboard.%0D%0A%0D%0AThanks.">Service Desk </a>
                ticket to request access.
            </font>
        </p>
</div>
</body>
</html>

<style>
    .center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    }
    .container {
    max-width: 100%;
    }
</style>
