<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>

    <div class="center">
        <p><strong><font face="arial" color="black" size="5">Access Denied!</font></strong></p>
        <p>
            <font face="arial" color="black">
                You do not have access to the Leadership Engagement Activity Dashboard. 
                To request access, please log a 
                <a id="serviceDesk" href="">Service Desk </a>
                ticket.
            </font>
        </p>
</div>
</body>
</html>
<script type="text/javascript">
    document.getElementById("serviceDesk").href = "mailto:ITServiceDesk@gatesfoundation.org?subject=Request for access in LEAD application&body=Service Desk,%0D%0A%0D%0AI need access to the Leadership Engagement Activity Dashboard (http://" + window.location.hostname + "). %0D%0A%0D%0AThanks.";
</script>
<style>
    .center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    }
    .container {
    max-width: 100%;
    }
</style>
