
@{
    ViewBag.Title = "Engagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div><h2>Engagements</h2></div>
<br />

@*<div class="filter-container">*@
@*Division*@
@*<div class="filter-box">
        <h5>Division</h5>
    </div>
    <div class="filter-box">
        <input id="divisionFilter" type="text" class="k-textbox modal-textfield" />
    </div>
    <div class="filter-box filter-column-spacer"></div>*@

@*Filter 2*@
@*<div class="filter-box">
        <h5>Filter 2</h5>
    </div>
    <div class="filter-box">
        <select class="filter-dropdown"></select>
    </div>
    <div class="filter-box filter-column-spacer"></div>*@

@*Filter 3*@
@*<div class="filter-box">
        <h5>Filter 3</h5>
    </div>
    <div class="filter-box">
        <select class="filter-dropdown"></select>
    </div>
    <div class="filter-box filter-column-spacer"></div>*@

@*Search button*@
@*<div class="filter-box">
            <input type="button" class="k-primary k-button" value="Search" />
        </div>
    </div>*@

<div>
    <input class="search-input" type=text id="searchString" placeholder="Search for title, objectives, and details" />
    <input type="button" id="search" class="orange-theme-button" value="Search" />
</div>
<br />

<div id="example">
    <div id="mainGrid" class="demo-section k-content">
        <div id="engagementTabStrip">

            @*List of Tab Names*@
            <ul id="engagementTabs" hidden>
                <li class="k-state-active" onclick="tabChange('EngagementTab')">Engagements</li>
                <li onclick="tabChange('ReviewTab')">Review and Approval</li>
                <li onclick="tabChange('ScheduleTab')">Scheduling</li>
            </ul>

            @*Start of Tab Body (in order)*@
            <div id="engagementTabDetails">
                <div id="engagementGrid"></div>
            </div>
            <div id="reviewTabDetails">
                <div id="reviewEngagementGrid"></div>
            </div>
            <div id="schedulingTabDetails">
                <div id="schedulingEngagementGrid"></div>
            </div>
            @*End of Tab Body (in order)*@

        </div>
    </div>
</div>

<form id="engagementWindow" hidden>
    <div class="row" style="padding-left:30px;">
        <section>
            <h5>Details</h5>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-md-2">
                        <label for="division" class="required">Division:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="division" name="Division" class="modal-textfield" data-bind="value: Division" required validationMessage="A {0} must be entered."></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="team" class="required">Team:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="team" name="Team" class="modal-textfield" data-bind="value: Team" required validationMessage="A {0} must be entered."></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="title" class="required">Title:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="title" name="Title" class="k-textbox modal-textfield" data-bind="value: Title" required validationMessage="A {0} must be entered." placeholder="Enter text..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="objectives" class="required">Objectives:</label>
                    </div>
                    <div class="col-md-1">
                        <textarea rows="5" id="objectives" name="Objectives" class="k-textbox modal-textfield" cols="50" data-bind="value: Objectives" required validationMessage="An Objective must be entered." placeholder="Enter text..."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Details:</label>
                    </div>
                    <div class="col-md-1">
                        <textarea rows="5" class="k-textbox modal-textfield" cols="50" data-bind="value: Details" placeholder="Enter text..."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="teamRanking" class="required">Team Ranking:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="teamRanking" name="Team Ranking" class="modal-textfield" data-bind="value:TeamRanking" required validationMessage="A {0} must be selected."></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="row">
                    <div class="col-md-3">
                        <label for="executiveSponsor" class="required">Executive Sponsor:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="executiveSponsor" name="Executive Sponsor" class="modal-textfield" data-bind="value: ExecutiveSponsor" required validationMessage="An {0} must be selected." />
                        <div id="executiveSponsorRequiredAlert"></div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <label for="principalRequired" class="required">Required Principal(s):</label>
                        </div>
                        <div class="col-md-1">
                            <select id="principalRequired" name="Required Principal" multiple class="modal-textfield" data-bind="value: PrincipalRequired" required validationMessage="A {0}(s) must be selected."></select>
                            <div id="principalRequiredRequiredAlert"></div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Alternate Principal(s):</label>
                    </div>
                    <div class="col-md-1">
                        <select id="principalAlternate" multiple class="modal-textfield" data-bind="value:PrincipalAlternate"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="engagementType" class="required">Engagement Type:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="engagementType" name="Engagement Type" class="modal-textfield" data-bind="value:IsExternal" required validationMessage="An {0} must be selected."></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="purpose" class="required">Engagement Purpose:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="purpose" name="Engagement Purpose" class="modal-textfield" data-bind="value: Purpose" required validationMessage="An {0} must be selected."></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Content Owner:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="contentOwner" multiple class="modal-textfield" data-bind="value:ContentOwner"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Staff:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="staff" multiple class="modal-textfield" data-bind="value:Staff"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-md-2">
                        <label for="region" class="required">Region:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="region" name="Region" class="modal-textfield" data-bind="value: Region" required validationMessage="A {0} must be selected."></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Country:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="country" class="modal-textfield" data-bind="value: EngagementCountries"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>City:</label>
                    </div>
                    <div class="col-md-1">
                        <input type="text" class="k-textbox modal-textfield" data-bind="value: City" placeholder="Enter text..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Duration:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="duration" class="modal-textfield" data-bind="value: Duration"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="dateFlexible" class="required">Date Flexibility:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="dateFlexible" name="Date Flexibility" class="modal-textfield" data-bind="value: IsDateFlexible" required validationMessage="A {0} must be selected."></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="yearQuarter" class="required">Yr/Qtr:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="yearQuarter" name="Yr/Qtr" multiple class="modal-textfield" data-bind="value: EngagementYearQuarters" required validationMessage="A {0} must be selected."></select>
                        <div id="yearQuarterRequiredAlert"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Start Date:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="startDate" type="date" name="Engagement Start Date" class="modal-textfield" onkeydown="return false;" data-bind="value: DateStart " validationMessage="An {0} must be selected." placeholder="Select a date..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>End Date:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="endDate" type="date" name="Engagement End Date" class="modal-textfield" onkeydown="return false;" data-bind="value: DateEnd " validationMessage="An {0} must be selected." placeholder="Select a date..." />
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="row" style="padding-left:30px;">
        <section>
            <h5>Review</h5>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-md-2">
                        <label>President Review Comment:</label>
                    </div>
                    <div class="col-md-1">
                        <textarea id="presidentReview" rows="5" class="k-textbox modal-textfield" cols="50" data-bind="value: PresidentComment" placeholder="Enter text..."></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-md-2">
                        <label for="presidentRanking" class="required">President Ranking:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="presidentRanking" name="President Ranking" class="modal-textfield" data-bind="value: PresidentRanking" required validationMessage="A {0} must be selected."></select>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="row" style="padding-left:30px;">
        <section>
            <h5>Scheduling</h5>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-md-2">
                        <label>Trip Director:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="tripDirector" multiple class="modal-textfield" data-bind="value: Schedule.SsuTripDirector"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Speech Writer:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="speechWriter" multiple class="modal-textfield" data-bind="value: Schedule.SsuSpeechWriter"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Communications Lead:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="communicationsLead" multiple class="modal-textfield" data-bind="value: Schedule.SsuCommunicationsLead"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-3">
                        <label>Brief due to SP&E by:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="briefDue" type="text" class="modal-textfield" onkeydown="return false;" data-bind="value: BriefDueToGCEByDate" placeholder="Select a date..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="scheduleDateFrom" class="required">Scheduled Start Date:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="scheduleDateFrom" name="Scheduled Start Date" type="datetime" class="modal-textfield"
                               data-role=datetimepicker pattern="[0-1][0-9]\/[0-3][0-9]\/[0-9]{4} ([0-9]|1[0-9]|2[0-9])(:[0-5][0-9]){1} [paPA][Mm]"
                               data-bind="value: DateFrom" validationMessage="A {0} must be selected." placeholder="Select a date..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="scheduleDateTo" class="required">Scheduled End Date:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="scheduleDateTo" name="Scheduled End Date" type="datetime" class="modal-textfield"
                               data-role=datetimepicker pattern="[0-1][0-9]\/[0-3][0-9]\/[0-9]{4} ([0-9]|1[0-9]|2[0-9])(:[0-5][0-9]){1} [paPA][Mm]"
                               data-bind="value: DateTo" validationMessage="A {0} must be selected." placeholder="Select a date..." />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row" id="scheduleCommentRow">
                    <div class="col-md-2">
                        <label>Schedule Comment:</label>
                    </div>
                    <div class="col-md-1">
                        <textarea id="scheduleComment" rows="5" class="k-textbox modal-textfield" cols="50" data-bind="value: ScheduleComment" placeholder="Enter text..."></textarea>
                    </div>
                </div>
                <div class="row" id="locationRow">
                    <div class="col-md-2">
                        <label>Location:</label>
                    </div>
                    <div class="col-md-1">
                        <input id="location" class="k-textbox modal-textfield" data-bind="value: Location" placeholder="Enter text...">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="row" style="padding-left:30px;">
        <section>
            <h5>Status</h5>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-md-2">
                        <label for="engagementStatus" class="required">Status:</label>
                    </div>
                    <div class="col-md-1">
                        <select id="engagementStatus" name="Status" class="modal-textfield" data-bind="value: Status" required validationMessage="A {0} must be selected."></select>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="window-footer">
        <div id="modifiedDiv" align="left" style="display: block;">
            <span id="modifiedSpan"></span>
        </div>
        <div class="spacer"></div>
        <div>
            <input type="button" id="delete" class="k-button" style="float: left" value="Delete" />
            <button id="save" class="k-button k-primary" type="submit">Save</button>
            <button id="submit" class="k-button" type="submit">Submit For Review</button>
            <input type="button" class="k-button close-button" value="Cancel" />
        </div>
    </div>
</form>




<style>
    .k-virtual-scrollable-wrap td {
        font-size: 14px;
        white-space: normal;
        line-height: 13px;
    }

    #grid .k-virtual-scrollable-wrap tr td {
        height: 15px;
    }
</style>
<script src="~/App/constantsController.js"></script>
<script src="~/App/dataModelController.js"></script>
<script src="~/App/dataSourceController.js"></script>
<script src="~/App/fieldEditorController.js"></script>
<script src="~/App/engagementController.js"></script>


