@{
    ViewBag.Title = "Home";
}


<div class="container panel-container">
    <div class="row">
        <div class="col-md-10 col-lg-offset-4">
            <div class="row lead-tile">
                <div class="col-sm-3">
                    <div id ="engagementsTile" class="lead-tile-components">
                        <div id="engagementsPanel" class="panel panel-default">
                            <h5><b>@Html.ActionLink("Engagements", "Engagement", "Home", new { area = "" }, new { @class = "panel-heading isNotForReporting" })</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="lead-tile-components">
                        <div id="reportsPanel" class="panel panel-default">
                            <h5><b>@Html.ActionLink(HttpUtility.HtmlDecode("&nbsp;&nbsp;&nbsp; Reports &nbsp;&nbsp;&nbsp;"), "Report", "Home", new { area = "" }, new { @class = "panel-heading" })</b></h5>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-3">
                    <div class="lead-tile-components">
                        <div id="administrationPanel" class="panel panel-default"> 
                            <h5><b>@Html.ActionLink("Administration", "Administration", "Home", new { area = "" }, new { @class = "panel-heading isNotForReporting" })</b></h5>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>