
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>

<div>
    <input class="search-input" type=text id="searchString" placeholder="Search for title, objectives, and details" />
    <input type="button" id="search" class="orange-theme-button" value="Search" />
</div>
<br />
<div id="reportGrid"></div>

<script src="~/App/constantsController.js"></script>
<script src="~/App/reportController.js"></script>
