<div *ngIf="showScoringModal" id="scoringModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float:left">Add/Edit Score</h4>
                <div class="row modal-btn-location">
                    <span class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" [disabled]="isSaveDisabled()" (click)="onSave(selectedScoring.id)" data-dismiss="modal">Save</button>
                    </span>
                    <span class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                    </span>
                </div>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedScoring">
                    <div class="row">
                        <div class="col-md-7"> </div>
                        <div class="col-md-5"><a href="https://bmgf.sharepoint.com/teams/gpaspm/Documents/2016%20GPA%20Investment%20Scoring%20Guidance.docx" target="_blank">Click Here For Guidance</a></div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-3"><label>Investment ID: </label></div>
                        <div class="col-md-4">{{investmentCombineId}}</div>
                        <div class="col-md-2"><label>Year: </label></div>
                        <div class="col-md-1">
                            <select [(ngModel)]="selectedScoring.scoreYear" class="modal-form-control form-control" style="width:auto;" [disabled]="isYearDisabled()">
                                <option [ngValue]="y.value" *ngFor="let y of optionsYear">{{y.name}}</option>
                            </select>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                Optional: Indicate if this investment should be excluded from scoring:
                            </label>
                            <span class="custom-padding"><input type="checkbox" [(ngModel)]="selectedScoring.excludeFromScoring" (change)="excludeScoring()" /></span>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>Required: Please score this investment across the following three dimensions:</label>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">Performance Against Strategy</div>
                        <div class="col-md-6">
                            <select [(ngModel)]="selectedScoring.performanceAgainstStrategy" class="modal-form-control form-control" [disabled]="selectedScoring.excludeFromScoring">
                                <option [ngValue]="i.value" *ngFor="let i of optionsPerformanceAgainstStrategy">{{i.name}}</option>
                            </select>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">Performance Against Milestones</div>
                        <div class="col-md-6">
                            <select [(ngModel)]="selectedScoring.performanceAgainstMilestones" class="modal-form-control form-control" [disabled]="selectedScoring.excludeFromScoring">
                                <option [ngValue]="i.value" *ngFor="let i of optionsPerformanceAgainstMileStones">{{i.name}}</option>
                            </select>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">Reinvestment Prospects</div>
                        <div class="col-md-6">
                            <select [(ngModel)]="selectedScoring.reinvestmentProspects" class="modal-form-control form-control" [disabled]="selectedScoring.excludeFromScoring">
                                <option [ngValue]="i.value" *ngFor="let i of optionsReinvestmentProspects">{{i.name}}</option>
                            </select>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                Required: Please succinctly include any context needed to explain the state of the
                                investment with any key results and important data. Explain likelihood to
                                reinvest or not:
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11"><textarea class="modal-form-control form-control" rows="6" id="comment" [(ngModel)]="selectedScoring.rationale" maxlength="500"></textarea></div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                If anchor grant, specify the objective you are scoring below:
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11"><input type="text" class="modal-form-control form-control" [(ngModel)]="selectedScoring.objective" maxlength="220"></div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                Optional: Indicate if you believe this investment should be nominated as one of
                                your team's highest or lowest performing investments.
                            </label>
                        </div>
                    </div><br />
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input type="checkbox" [(ngModel)]="selectedScoring.highestPerforming" />
                            <span class="custom-padding">Highest Performing</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" [(ngModel)]="selectedScoring.lowestPerforming" />
                            <span class="custom-padding">Lowest Performing</span>
                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                Optional: Select name in drop down box, if you are entering this scoring information on behalf of someone else:
                            </label>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>On Behalf of: </label>
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <input [(ngModel)]="selectedScoring.scoredByIdName" placeholder="Type name of user..." class="modal-form-control form-control" />
                                <span class="input-group-btn">
                                    <button type="button" class="modal-btn btn btn-default" (click)="searchUsersByName()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            Created/Modified By:
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                {{selectedScoring.user}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Created/Modified On:
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                {{selectedScoring.scoreDate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>