.btn-location {
    float: right;
    padding: 20px 25px 0px;
}

.btn-size {
    font-size: 14px;
}

#scoringModal .modal-dialog {
    width: 750px;
    margin: 60px auto;
    font-size: 12px;
    line-height: 13px;
}

.modal-body .form-label {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    margin: 3px 0 3px 0;
}

.modal-form-control {
    height: auto;
    padding: 5px;
    font-size: 12px;
}

.modal-btn {
    padding: 1px 6px 1px 6px;
    font-size: 9.5px;
}

.modal-footer {
    text-align: left;
    border-top: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    margin-bottom: -14.5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.modal-header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .modal-header .modal-title {
        font-size: 18px;
        font-weight: 600;
    }

.modal-body {
}

    .modal-body .instruction-link {
        float: right;
        padding-bottom: 10px;
    }

    .modal-body h4 {
        font-size: 14px;
        font-weight: 600;
    }

    .modal-body .help-text {
        font-size: 11px;
        line-height: 15px;
    }

.modal-footer .breadcrumb {
    background-color: #f2f2f2;
    margin-bottom: 0;
}

    .modal-footer .breadcrumb > li + li:before {
        color: #ccc;
        content: "|";
        padding: 0 5px;
    }

@media (max-width: 768px) {
    #scoringModal .modal-dialog {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .modal-body .form-label {
        text-align: left;
    }
}

.btn-light-blue {
    color: #31b0d5;
    background-color: transparent;
    border-color: #31b0d5;
}

.btn-light-blue:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #31b0d5;
}

.btn-current-score {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-current-score:hover {
    color: #fff;
    background-color: rgb(68, 157, 68);
    border-color: #4cae4c;
}

.btn-score-table {
    width: 75px;
}

.tooltip-hover-info {
    position: relative;
    z-index: 24;
    color: black;
}

    .tooltip-hover-info:hover {
        z-index: 25;
        background-color: transparent;
        text-decoration: none;
    }

    .tooltip-hover-info span {
        display: none;
    }

    .tooltip-hover-info:hover span {
        z-index: 25;
        display: block;
        position: absolute;
        padding: 10px 10px 10px;
        content: attr(title);
        min-width: 0px;
        width: 270px;
        border: 1px solid #269abc;
        background-color: #fff;
        color: #333;
        border-radius: 6px;
        font-size: 12px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: left;
        height: auto;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        top: -9em;
        left: 2.5em;
    }

        .tooltip-hover-info:hover span:after {
            position: absolute;
            display: block;
            content: "";
            border-style: solid;
            border-width: 12px 12px 12px 0;
            border-color: transparent #269abc;
            height: 0;
            width: 0;
            position: absolute;
            top: 8.5em;
            left: -1em;
        }

    .tooltip-hover-info:hover #score-tooltip:after {
        z-index: 24;
        position: absolute;
        display: block;
        content: "";
        border-style: solid;
        border-width: 12px 0 12px 12px;
        border-color: transparent #269abc;
        height: 0;
        width: 0;
        position: absolute;
        bottom: 30px;
        left: 22.45em;
    }

#score-tooltip {
    left: -24em !important;
}
