<div style='font-weight:bold'>Title :   {title} </div>
<div style='font-weight:bold'>Entry by :  {requestor} </div><br />

<div>
<p>    Your request has been approved by your division leader and is pending schedule availability.
You will receive an email outside of the LEAD system with scheduling options once your request has been approved by the co-chair and CEO offices
</p>
<p>If you need to edit your engagement after it has been approved, please reach out directly to Jeanine Eulberg. </p>
</div>