
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
    <style>
        div.center {
            text-align: center;
        }
    </style>

</head>
<body>
    @{
        var page = ViewData["PageName"];
    }
    <img src="~/images/bmgf-logo_white.png" />
    <div class="center">
        <p><strong><font face="arial" color="black" size="5">Access denied</font></strong></p>
        <p>
            <font face="arial" color="black">
                You do not have permission to access this site.
            </font>
        </p>
    </div>
</body>
</html>

