body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 390px;
}

label {
    font-size: 10px;
}

.container {
    max-width: 100%;
}

.panel-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Kendo overlay */
.k-window-content {
    border: 10px solid #fff;
}

.window-footer {
    width: 100%;
    padding: 15px 0 2px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}


/* Bootstrap overlay */
/* Organized this alphabetically */
.addEnaggementBtn {
    float: right;
}

.col-sm-3 {
    width: auto;
}

.col-md-1 {
    width: auto;
}

.filter-box {
    display: block;
    float: left;
    padding: 0 1em .1em 0;
}

.filter-column-spacer {
    width: 20px;
}

.filter-container {
    width: 100%;
    height: 60px;
}

.filter-dropdown {
    width: 200px;
    height: 28px;
}

.modal-textfield {
    width: 18.5em;
    font-size: 10px;
}

/*.modal-textfield::-ms-clear {
        display: none;
    }*/

.k-invalid-msg {
    font-size: 10px;
}

.lead-tile {
}

    .lead-tile .panel {
        cursor: pointer;
    }

    .lead-tile .panel-heading {
        background-color: #595959;
        color: #d9d9d9 !important;
        padding: 10px 60px;
        border-radius: 0px 0px 2px 2px;
    }

        .lead-tile .panel-heading:hover {
            background-color: #d9d9d9;
            color: #595959 !important;
        }

        .lead-tile .panel-heading:active {
            text-decoration: none;
        }

        .lead-tile .panel-heading:link {
            text-decoration: none;
        }

        .lead-tile .panel-heading:visited {
            text-decoration: none;
        }

.lead-tile-components {
    width: auto;
    height: 150px;
    padding-top: 115px;
    background-color: #e5e5e5;
    border-radius: 2px 2px 0px 0px;
}

.ul-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li-navigation {
    float: left;
    border-right: 1px solid #bbb;
}

    .li-navigation:last-child {
        border-right: none;
    }

    .li-navigation a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .li-navigation a:hover:not(.active) {
            background-color: #f35800;
            border: 1px solid #f85a00;
            background-image: none,linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.0) 100%);
        }

.row {
    margin-bottom: 5px;
}

span.k-widget.k-tooltip-validation.k-invalid-msg {
    position: absolute;
    top: 22px;
    left: 10px;
    text-align: left;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 2000;
}

/* specify the default input color for the blank fields */
.k-multiselect-wrap > .k-input {
    color: #808080;
}

    .k-multiselect-wrap > .k-input:focus {
        color: #808080;
    }

input.modal-textfield:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #808080;
}

textarea.modal-textfield:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #808080;
}

input.modal-textfield::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #808080;
}

textarea.modal-textfield::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #808080;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #808080;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #808080;
}
/* ===================================================== */

 .search-input{
     height:35px;
     width:700px;
     -webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;

 }

 .orange-theme-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}
.orange-theme-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}.orange-theme-button:active {
	position:relative;
	top:1px;
}

 .spacer{
     height:8px;
 }