<div class="home-content">
    <b>
        The investment scoring functionality and associated reports are being moved to INVEST and
        will not be available in the Investment Scoring Tool from June 6th at XX:XXpm PST - June 16th at XX:Xxam PST
        to support this transition. Investment Scoring data can still be viewed in the
        <a href="https://app.powerbi.com/groups/me/apps/37766309-ffc2-408d-9275-da2507d84e08/reports/9d2cbe9e-d9cb-49b1-b461-83caad1f1dd4/ReportSection1fcf36e516c87cba720c" target="_blank" rel="noopener noreferrer">
            Partner & Performance Report
        </a>
        and the <a href="https://portfolio.gatesfoundation.org/" target="_blank" rel="noopener noreferrer">Portfolio Overview Dashboard</a> during this time.
        Please contact <a href="mailto:IME@gatesfoundation.org" target="_blank" rel="noopener noreferrer">IME@gatesfoundation.org</a> with questions.
    </b>
    <h3 class="home-header"><b>Welcome to the Investment Scoring Tool</b></h3>

    <ul class="home-bullets">
        <li>To locate an investment, type key words into the Search textbox to return the investment(s) you would like to find. The Search textbox references the investment Title, Manager, Owner, Managing Team or ID fields as provided by Unison or ICS.</li>        
        <li>
            Search considerations:
            <ul>
                <li>The search menu limits the number of items retrieved to 100 results to improve processing. If you do not see the investment you are attempting to find, input additional criteria into the search field to filter the results further.</li>
                <li>Additional words added to the search will function as an &#34;and&#34; clause that returns results including all words.</li>
                <li>Search results are exact match only, including an individual&#39;s full name. If the results do not include the investment you&#39;re attempting to find, double-check the spelling of the terms used.</li>
            </ul>
        </li>
        <li>
            <span style="font-weight:bolder">Please note: </span>The investment data available in the Investment Scoring tool is refreshed every three hours. There are regular maintenance windows in which data is refreshed less frequently:
            <ol class="home-bullets">
                <li>On Sundays, investment data may be stale between 8 PM PST and 2 AM PST (approx 6 hours).</li>
                <li>On the 4th Thursday of every month, investment data may be stale and reports may be momentarily unavailable between 5 PM PST and 2 AM PST (approx. 9 hours).</li>
            </ol>
            <br />

            <div id="divMaintenanceNoticeHTML"></div>
        </li>

    </ul>
</div>
