<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="EmailConfigurationSection" type="Scheduler.Helpers.EmailConfigurationSection" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="LeadAdminDomainGroup" value="APP_LEAD_ADMIN" />
    <add key="LeadAllDomainGroup" value="APP_LEAD_ALL" />
    <add key="LeadApproverDomainGroup" value="APP_LEAD_APPROVER" />
    <add key="LeadReportUserDomainGroup" value="APP_LEAD_REPORT" />
    <add key="LeadSchedulerDomainGroup" value="LEAD_SCHEDULER" />
    <add key="LeadReviewerGroup" value="APP_LEAD_REVIEWERS" />
    <add key="LeadMultiDivisionGroup" value="APP_LEAD_MULTIDIVISION" />
    <add key="Domain" value="dev" />
    <add key="DefaultEmailAddress" value="app_lead_scheduler@dev.gatesfoundation.org" />
    <add key="SMTPClient" value="intmail.dev.gatesfoundation.org" />
    <add key="SMTPPort" value="25" />
    <add key="LEADSender" value="no-reply@dev.gatesfoundation.org" />
    <add key="RequestLiason" value="JohnLouie.Chan@dev.gatesfoundation.org" />
    <add key="LIPreReadsGroup" value="JohnKirk.Encarnacion@dev.gatesfoundation.org" />
    <add key="ErrorLogFile" value="C:\Temp\LEADErrorLog.txt" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--NOTE: Engagement Status IDs separated by "semicolon (;)"-->
    <!--Include "0" to send notif for an on-create Scheduled  engagement-->
    <!--Draft = 1000; Submitted for Review = 1001; Declined = 1003;-->
    <!--Approved = 1004; Scheduled = 1006; Completed = 1007; Opportunistic = 1008-->
    <add key="RequiredEngagementStatus" value="0;1000;1001;1003;1004;1007;1008" />
    <!--NOTE: Engagement Purpose IDs separated by "semicolon (;)"-->
    <!--Strategy Review = 1000; Progress Review = 1001,; Strategy Development = 1002;-->
    <!--Learning = 1003; Advocacy/Outreach Calls = 1004; Trip/Event/Pre-trip/Speech prep = 1005;-->
    <!--Book of Business = 1006; Global Good = 1007-->
    <add key="RequiredEngagementPurpose" value="1001;1002;1003" />
    <!--Division Approvers-->
    <!--NOTE: Separate the Approver's email address by "semicolon (;)"-->
    <!--Foundation Strategy Office"-->
    <add key="Division_1007" value="app_lead_reviewer@dev.gatesfoundation.org;app_lead_scheduler@dev.gatesfoundation.org" />
    <!--Global Development"-->
    <add key="Division_1001" value="app_lead_scheduler@dev.gatesfoundation.org" />
    <!--Global Health"-->
    <add key="Division_1002" value="app_lead_user@dev.gatesfoundation.org" />
    <!--Global Policy and Advocacy"-->
    <add key="Division_1003" value="app_lead_reviewer@dev.gatesfoundation.org;app_lead_scheduler@dev.gatesfoundation.org" />
    <!--Office of the Executive Director"-->
    <add key="Division_1010" value="app_lead_user@dev.gatesfoundation.org" />
    <!--U.S. Program"-->
    <add key="Division_1005" value="app_lead_reviewer@dev.gatesfoundation.org" />
  
    <add key="ida:ClientId" value="" />
    <add key="ida:AADInstance" value="" />
    <add key="ida:Domain" value="" />
    <add key="ida:TenantId" value="" />
    <add key="ida:PostLogoutRedirectUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
 
    <customErrors defaultRedirect="~/Views/Home/AuthorizationDenied.cshtml" mode="RemoteOnly">
      <error redirect="~/Views/Home/AuthorizationDenied.cshtml" statusCode="401" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="LeadershipEngagementPlannerEntities" connectionString="metadata=res://*/Models.SchedulerModel.csdl|res://*/Models.SchedulerModel.ssdl|res://*/Models.SchedulerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVSQLGPSBv01;initial catalog=LEAD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <EmailConfigurationSection>
    <emailConfiguration>
      <email name="NotifyRequestor_WhenOnCreateOrDraftToSFR" engPreStatus="0;1000" engPostStatus="1001" subject="Lead Status Update" from="LEADSender" to="Requestor" template="Views/Html/EmailBodyforRequestorSFR.html" />
      <email name="NotifyApprover_WhenOnCreateOrDraftToSFR" engPreStatus="0;1000" engPostStatus="1001" subject="Lead Status Update" from="LEADSender" to="DivisionApprover" template="Views/Html/EmailBodyforApproverSFR.html" />
      <email name="NotifyReviewer_WhenOnCreateOrDraftToSFR" engPreStatus="0;1000" engPostStatus="1001" subject="New Engagement Request Submitted" from="LEADSender" to="Reviewer" template="Views/Html/EmailBodyforReviewersSFR.html" />
      <email name="NotifyRequestor_WhenSFRToDeclined" engPreStatus="1001" engPostStatus="1003" subject="Lead Status Update" from="LEADSender" to="Requestor" template="Views/Html/EmailBodyforRequestorDeclined.html" />
      <email name="NotifyReviewer_WhenOnCreateOrSFRToDeclined" engPreStatus="0;1001" engPostStatus="1003" subject="Engagement Request Declined" from="LEADSender" to="Reviewer" template="Views/Html/EmailBodyforReviewersDeclined.html" />
      <email name="NotifyRequestor_WhenSFRToApproved" engPreStatus="1001" engPostStatus="1004" subject="Lead Status Update" from="LEADSender" to="Requestor" template="Views/Html/EmailBodyforRequestorApproved.html" />
      <email name="NotifyScheduler_WhenSFRToApproved" engPreStatus="1001" engPostStatus="1004" subject="Lead Status Update" from="LEADSender" to="Scheduler" template="Views/Html/EmailBodyforSchedulerApproved.html" />
      <email name="NotifyScheduler_WhenScheduled" engPreStatus="0;1000;1001;1003;1004;1007;1008" engPostStatus="1006" subject="Lead Status Update" from="LEADSender" to="Scheduler" template="Views/Html/EmailBodyforSchedulerScheduled.html" />
      <email name="NotifyRequestor_WhenSFRToDraft" engPreStatus="1001" engPostStatus="1000" subject="Lead Status Update" from="LEADSender" to="Requestor" template="Views/Html/EmailBodyforRequestorBacktoDraft.html" />
    </emailConfiguration>
  </EmailConfigurationSection>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
      <remove statusCode="401" />
      <error statusCode="401" responseMode="File" path="~/Views/Home/AuthorizationDenied.cshtml" />
    </httpErrors>
  </system.webServer>
</configuration>