<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="LeadAdminDomainGroup" value="APP_LEAD_ADMIN" />
    <add key="LeadAllDomainGroup" value="APP_LEAD_ALL" />
    <add key="LeadApproverDomainGroup" value="APP_LEAD_APPROVER" />
    <add key="LeadReportUserDomainGroup" value="APP_LEAD_REPORT" />
    <add key="LeadSchedulerDomainGroup" value="LEAD_SCHEDULER" />
    <add key="LeadReviewerGroup" value="APP_LEAD_REVIEWERS" />
    <add key="Domain" value="dev" />
    <add key="DefaultEmailAddress" value="app_lead_scheduler@dev.gatesfoundation.org" />
    <add key="SMTPClient" value="intmail.dev.gatesfoundation.org" />
    <add key="SMTPPort" value="25" />
    <add key="LEADSender" value="no-reply@dev.gatesfoundation.org" />
    <add key="RequestLiason" value="JohnLouie.Chan@dev.gatesfoundation.org" />
    <add key="LIPreReadsGroup" value="JohnKirk.Encarnacion@dev.gatesfoundation.org" />
    <add key="ErrorLogFile" value="C:\Temp\LEADErrorLog.txt" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--NOTE: Engagement Status IDs separated by "semicolon (;)"-->
    <!--Include "0" to send notif for an on-create Scheduled  engagement-->
    <!--Draft = 1000; Submitted for Review = 1001; Declined = 1003;-->
    <!--Approved = 1004; Scheduled = 1006; Completed = 1007; Opportunistic = 1008-->
    <add key="RequiredEngagementStatus" value="0;1000;1001;1003;1004;1007;1008" />
    <!--NOTE: Engagement Purpose IDs separated by "semicolon (;)"-->
    <!--Strategy Review = 1000; Progress Review = 1001,; Strategy Development = 1002;-->
    <!--Learning = 1003; Advocacy/Outreach Calls = 1004; Trip/Event/Pre-trip/Speech prep = 1005;-->
    <!--Book of Business = 1006; Global Good = 1007-->
    <add key="RequiredEngagementPurpose" value="1001;1002;1003" />
    <!--Division Approvers-->
    <!--NOTE: Separate the Approver's email address by "semicolon (;)"-->
    <!--Foundation Strategy Office"-->
    <add key="Division_1007" value="app_lead_reviewer@dev.gatesfoundation.org;app_lead_scheduler@dev.gatesfoundation.org" />
    <!--Global Development"-->
    <add key="Division_1001" value="app_lead_scheduler@dev.gatesfoundation.org" />
    <!--Global Health"-->
    <add key="Division_1002" value="app_lead_user@dev.gatesfoundation.org" />
    <!--Global Policy and Advocacy"-->
    <add key="Division_1003" value="app_lead_reviewer@dev.gatesfoundation.org;app_lead_scheduler@dev.gatesfoundation.org" />
    <!--Office of the Executive Director"-->
    <add key="Division_1010" value="app_lead_user@dev.gatesfoundation.org" />
    <!--U.S. Program"-->
    <add key="Division_1005" value="app_lead_reviewer@dev.gatesfoundation.org" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authorization>
      <allow roles="app_lead_admin,app_lead_approver,app_lead_all,app_lead_report,app_lead_schedulers" />
      <deny users="*" />
    </authorization>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="LeadershipEngagementPlannerEntities" connectionString="metadata=res://*/Models.SchedulerModel.csdl|res://*/Models.SchedulerModel.ssdl|res://*/Models.SchedulerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVSQLGPSBv01;initial catalog=LEAD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>