<div *ngIf="category" class="ui-growl-container">
    <p-growl [(value)]="msgs"></p-growl>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <div class="taxonomy-text" [innerHTML]="category.description">
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <div class="btn-location">
                        <span class="btn-group">
                            <button type="submit" class="btn btn-info btn-sm" [disabled]="isSaveDisabled()" (click)="onSave()">Save</button>
                        </span>
                        <span class="btn-group">
                            <button type="button" class="btn btn-info btn-sm btn-light-blue" (click)="onCancel()">Cancel</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body taxonomy-panel" *ngIf="category.taxonomy">
            <div class="row">
                <div class="col-md-6 taxonomy-fields" *ngFor="let item of category.taxonomy">
                    <div class="col-md-10" [innerHTML]="item.itemLabel"></div>
                    <div class="col-md-2">
                        <p-spinner size="5" (paste)="restrictToNumbers($event); onTaxonomyValueChange()" (keypress)="restrictToNumbers($event)" (keyup)="onTaxonomyValueChange()" (onChange)="onTaxonomyValueChange()" [(ngModel)]="item.allocation" [min]="0" [max]="100" [step]="1" maxlength="3"></p-spinner>                          
                    </div>
                    <div *ngIf="item.allocation < 0" class="alert alert-danger">Allocation should not be less than 0</div>
                    <div *ngIf="item.allocation > 100" class="alert alert-danger">Allocation should not be greater than 100</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-9 text-right"></div>
                <div class="col-md-3">
                    <div class="ui-inputgroup  taxonomy-total-fields">
                        <span class="ui-inputgroup-addon">Total</span>
                        <input type="number" class="taxonomy-input-fields" restrictToNumber disabled min="0" max="100" value="{{category.total}}" />
                        <span class="ui-inputgroup-addon">%</span>
                    </div>
                    <div *ngIf="category.total != 100"
                         class="alert alert-danger">Total should be 100%</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngFor="let comment of category.comments">
        <div class="panel-heading">{{comment.itemLabel}}</div>
        <div class="panel-body charCounter">
            <textarea class="modal-form-control form-control" rows="6" [(ngModel)]="comment.comment" (keyup)="onTaxonomyValueChange()" (change)="onTaxonomyValueChange()" maxlength="{{getMaxLength('taxonomy-comments')}}"></textarea>
            <p class="help-text" *ngIf="comment.comment === undefined else elseBlock">Characters remaining:   <span>{{getMaxLength('taxonomy-comments')}}</span></p>
            <ng-template #elseBlock>
                <p class="help-text">Characters remaining:   <span [ngClass]="{ 'charCountRed' : this.flagCharacterCountIndicator('taxonomy-comments', comment.comment)}">{{getMaxLength('taxonomy-comments') - comment.comment.length}}</span></p>
            </ng-template>
        </div>

    </div>
</div>
